:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: scroll;
  scrollbar-width: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: inline;
  opacity: 1;
  cursor: pointer;
}
